.black {
    background: #000000;
    color: #ffffff;
}
.grayBg {
    background: #ededed;
}
body {
   font-family: 'Lato', sans-serif;
    background: #ffffff;
    color: #606060;
	font-size:16px;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
}
.btn-add:active,
.btn-add.active {
    color: #fff;
    outline: 0 none;
}
.open .fa-user {
    color: #fff !important;
}
.form-group::before,
.form-group::after {
    content: " ";
    display: table;
}
.control-label,
.checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
}
.pt4 {
    padding-top: 4px;
}
.pt5 {
    padding-top: 5px !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pa10 {
    padding: 10px !important;
}
.pa0 {
    padding: 0 !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pl0 {
    padding-left: 0px !important;
}
.pr0 {
    padding-right: 0px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pl0 {
    padding-left: 0px !important;
}
.pr0 {
    padding-right: 0px !important;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.mr15 {
    margin-right: 15px;
}
.ml55 {
    margin-left: 55px;
}
.mt0 {
    margin-top: 0;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt12 {
    margin-top: 12px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt48 {
    margin-top: 48px;
}
.mb0 {
    margin-bottom: 0px !important;
}
.mt100 {
    margin-top: 100px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb100 {
    margin-bottom: 100px !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mb20 {
    margin-bottom: 20px;
}
.mr0 {
    margin-right: 0px !important;
}
.mr10 {
    margin-right: 10px;
}
.mr8 {
    margin-right: 8px;
}
.mbn {
    margin-bottom: 0;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.normal {
    font-weight: normal;
}
.capsUp {
    text-transform: uppercase;
}
.block {
    display: block;
}
/*font size css starts*/

.f9 {
    font-size: 9px;
}
.f10 {
    font-size: 10px;
}
.f11 {
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f17 {
    font-size: 17px;
}
.f18 {
    font-size: 18px;
}
.f19 {
    font-size: 19px;
}
.f20 {
    font-size: 20px;
}
.f21 {
    font-size: 21px;
}
.f22 {
    font-size: 22px;
}
.f24 {
    font-size: 24px;
}
.f25 {
    font-size: 25px;
}
.f26 {
    font-size: 26px;
}
.f28 {
    font-size: 28px;
}
.f30 {
    font-size: 30px !important;
}
.f32 {
    font-size: 32px;
}
.f45 {
    font-size: 45px;
}
.v-al-inherit {
    vertical-align: inherit;
}
.v-al-middle {
    vertical-align: middle;
}
.underline {
    text-decoration: underline;
}
.noline {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}
.word-break {
    word-break: break-all;
}
/*text shadow css starts*/

.tShadow1 {
    text-shadow: 0px 1px #767676;
}
.tShadow2 {
    text-shadow: 0px 1px 1px #555;
}
.no-resize {
    resize: none;
}
/*text shadow css ends*/
/*text colors css starts*/

.tc-1 {
    color: #fff;
}
.tc-2 {
    color: #3b0540;
}
.tc-3 {
    color: #236496;
}
.tc-4 {
    color: #c23a3f;
}
.tc-5 {
    color: #000000;
}
.tc-6 {
    color: #0099cb;
}
.tc-7 {
    color: #7d0d01;
}
.tc-8 {
    color: #f7bd0e;
}
.tc-9 {
    color: #ffff66;
}
.tc-10 {
    color: #afb6b8;
}
.tc-11 {
    color: #2dabd4;
}
.tc-12 {
    color: #fea321;
}
.tc-13 {
    color: #333333;
}
.tc-14 {
    color: #538b20;
}
.tc-15 {
    color: #a7dced;
}
.tc-16 {
    color: #037da5;
}
.tc-17 {
    color: #01b839;
}
.tc-18 {
    color: #fd4a50;
}
/*text colors css ends*/

.lh-12 {
    line-height: 12px;
}
.lh-14 {
    line-height: 14px;
}
.lh-16 {
    line-height: 16px;
}
.lh-18 {
    line-height: 18px;
}
.lh-21 {
    line-height: 21px;
}
.ls-1 {
    letter-spacing: 1px;
}
.error {
    color: #ed0006;
    font-size: 11px;
}
.responsive-img {
    height: auto;
    max-width: 100%;
    width:100%;
}
.bd-right{
	border-right:2px solid #ededed;
}
.bd-none{
	border:none !important;
}
@font-face {
	font-family: 'proximanovalight';
	src: url('../fonts/proximanovalight.eot');
	src: local('../fonts/proximanovalight'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype');
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/ProximaNovaRegular.eot');
	src: local('../fonts/ProximaNovaRegular'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype');
}
.proximaNovaLight {
	font-family: 'proximanovalight' !important;
}
.ProximaNovaRegular {
	font-family: 'ProximaNovaRegular' !important;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}




