.top-bar{
    background:#cc6666;
    padding:15px 0;
    color:#ffffff;
    font-family: 'proximanovalight' !important;
}
.top-nav ul{
    margin:0;
    padding:0;
}
.top-nav ul li {
    display: inline-block;
}
.top-nav ul li:after{
    content: " | ";
}
.top-nav ul li:last-child:after{
    content: " ";
}
.top-nav ul li a{
    color:#ffffff;
    padding:0 15px;
}
.top-nav ul li a.last-child{
    padding-right:0;
}
p{
    font-family: 'ProximaNovaRegular' !important;
}
.logo {
    float: left;
    padding: 36px 36px 0 0;
}
.navbar-collapse.collapse {
    padding: 35px 0;
}
.navbar-nav > li {
    padding-left: 20px;
    padding-right:20px;
}
.navbar-nav > li > a {
    color: #7e7e7e !important;
    font-size: 18px;
    line-height: 20px;
    padding-left:5px;
    padding-right:5px;
}
.navbar{
    margin-bottom:0;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
    border-bottom: 5px solid #34c1e5;
    color: #7e7e7e !important;
    background-color:transparent !important;
}
.donate{
  background-color: rgb(52, 193, 229);
  box-shadow: inset 0px 6px 8.7px 1.3px rgba(0, 0, 0, 0.08);
}
.donate li{
    padding:0;
}
.donate li a{
    color:#ffffff !important;
    text-transform:uppercase;
    padding:15px 30px !important;
    font-weight:bold;
}
.dropdown-menu {
  background-color: rgb(249, 251, 252);
  opacity: 0.949;
  box-shadow: 0px 6px 8.7px 1.3px rgba(0, 0, 0, 0.05);
  border:0;
  border-radius:0;
  left: -34px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #7e7e7e;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding:15px;
    white-space: nowrap;
    text-align:center;
}
.btn-acct-wrap{
    width:100%;
	float: left;
    margin-bottom:12px;
}

.hidden-mob-tab{
    display:block;
}
.link{
	color:#3b0540;
}
.mobil-display{
	display:none;
}
.nav-text {
    color: #ffffff;
    float: left;
    font-size: 18px;
    margin-left: 35px;
    margin-top: -21px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.collapse.mob{
 display:none;
}
.collapse.desk{
 display:block;
}
.mob-nav {
    display: none;
}
/**************************************************************** BANNER PAGE START **************************************************/
.carousel-inner > .item > a > img, 
.carousel-inner > .item > img{
    width:100%;
}
.banner-wrap p{
    line-height:36px;
    font-size:27px;
    color:#ffffff;
    text-align:center;
}
.group-btn{
    margin:40px 0 ;
}
.banner-btn{
  border-radius: 4px;
  background-color: rgb(251, 231, 93);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.24);
  color:#1a3255;
  font-size:24px;
  font-weight:bold;
  padding:12px 35px;
  margin:0 10px 0 0;
}
/**************************************************************** BANNER PAGE END **************************************************/

/**************************************************************** Tab with Accordion PAGE START **************************************************/
.tab-acordion {
    margin-top:78px;
    position: relative;
    width: 100%;
    float: left;
}
.tab-acordion h2{
    text-align:center;
    line-height:40px;
}
.tab-acordion .nav-tabs{
    border:0;
    margin-top:35px;
}

.tab-content.responsive {
    float: left;
    padding:70px 55px 55px 55px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow:0 8px 10px 1.3px rgba(0, 0, 0, 0.05) inset;
}
.tab-acordion .nav-tabs > li > a {
    font-size: 24px;
    padding: 20px 15px;
    color: #293d55;
    border-radius:0;
    text-align:center;
}
.tab-acordion .nav-tabs > li{
    min-height:231px;
}
.tab-acordion .nav-tabs > li > a img{
    opacity:0.4;
}
.tab-acordion .nav-tabs > li.active > a img, .tab-acordion .nav-tabs > li > a img:hover{
    opacity:1;
}
.tab-acordion .nav-tabs > li.active > a, .tab-acordion .nav-tabs > li > a:hover {
    color: #309bb3;
    background:none;
    border:0;
}
.tab-acordion .nav-tabs > li.active:after{
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width:51px;
    height:30px;
    background:url(../img/tab-arrow.png) no-repeat bottom center;
    clear: both;
}
.tab-acordion .product-row {
    margin-top:48px;
    width:100%;
    float:left;
}
.tab-acordion .product-title {
    color: #293d55;
    font-size: 20px;
    font-weight: 900;
    margin-bottom:15px;
}
.tab-acordion .product-descrp{
    color:#010101;
    line-height:26px;
    font-size:16px;
    font-family: 'proximanovalight' !important;
}
.tab-acordion .badge {
  border-width: 2px;
  border-color: rgb(52, 193, 229);
  background:#ffffff;
  color:rgb(52, 193, 229);
  border-style: solid;
  border-radius:50%;
  padding:10px;
  width: 56px;
  height: 56px;
  font-size:34px;
  margin-top:25px;
  font-family: 'ProximaNovaRegular' !important;
}


/**************************************************************** Tab with Accordion PAGE END **************************************************/

/**************************************************************** News Letter Start **************************************************/
.news-letter {
  background:#fac711;
  width:100%;
  float:left;
  padding:60px;
}
.news-letter p, .social-feed p{
  color:#101010;
  font-size:16px;
  margin-top: 15px;
}
.news-input{
    width:79%;
    float:left;
	font-size:16px;
	font-family: 'proximanovalight' !important;
	color:#acacac;
    padding:28px;
    border:0;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 2px 3.464px 4.5px 0.5px rgba(0, 0, 0, 0.05);
}
.news-letter .btn-news{
    background: #e36a52;
    border: 0;
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 28px 30px;
	letter-spacing: 2px;
}

.news-slider{
    margin-top:107px;
}
.event-carousel .carousel-control{
    opacity:1;
}
.event-carousel{
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  background-color: rgb(249, 251, 252);
  box-shadow: 0px 6px 8.7px 1.3px rgba(0, 0, 0, 0.05);
  text-align:center;
  margin-left: 10px;
  margin-right: 10px;
}
.event-carouselHeader, .nav-header{
    width:100%;
    height:64px;
    display:block;
    background-color: rgb(52, 193, 229);
}
.event-carouselBadge{
  border-width: 2px;
  border-color: rgb(52, 193, 229);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(249, 251, 252);
  width: 68px;
  height: 68px;
  color:rgb(52, 193, 229);
  padding:10px;
  font-size:14px;
  line-height: 20px;
  font-family: 'ProximaNovaRegular' !important;
  margin-top:-65px;
}
.event-carouselContent{
    padding:35px;
    text-align:center;
}
.event-carouselContent > h2 {
    margin-top: 45px;
}
.event-carousel p{
    color:#000000;
    font-size:16px;
    margin-top:25px;
}




/**************************************************************** News Letter  End **************************************************/


/**************************************************************** Social Media Feed Start **************************************************/
.social-feed{
    margin-top:190px;
    margin-bottom:30px;
}
.social-feed h2{
    margin-bottom:75px;
}
.social-feed .vertical-slider .row{
    margin-bottom:60px;
}
.social-feed .vertical-slider .row:nth-child(2){
    margin-bottom:15px;
}
.social-feed p{
    margin-top:0;
    line-height:26px;
}
.social-feed h3{
    margin:0 0 20px 0;
    font-size:20px;
    font-weight:bold;
    color:#293d55;
}
.social-feed h4 {
    border-bottom: 5px solid #34c1e5;
    font-size: 20px;
    margin-bottom: 45px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.social-feed .fa {
    color:#34c1e5;    
}
.social-feed .carousel-inner {
    border-bottom:1px solid #8f8e8e;    
}
.btn-vertical-facebook, .btn-vertical-twitter{
    margin-top:20px;
    font-size:16px;
}
.instagram-feed > li {
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 46%;
}
.btn-vertical-facebook, .btn-vertical-twitter, .btn-vertical-facebook .fa, .btn-vertical-twitter .fa{
    color:#8f8e8e;
    cursor:pointer;
    display:block;
    text-align:center;
}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}​

*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.carousel-indicators {
    bottom: 20px;
}
.carousel-indicators {
    left: auto;
    margin-left: 0;
    padding-top: 0;
    position: absolute;
    right: 30px;
    text-align: center;
    top:42%;
    width: 20px;
}
.carousel-indicators li{
    border:2px solid #ffffff;
    background:#34c1e5;
}
.carousel-indicators .active{
    background:#34c1e5;
    border:3px solid #ffffff;
    margin-bottom:15px;
    width:12px;
    height:12px;
}
.carousel-indicators li{
    background:#ffffff;
    border:3px solid #ffffff;
    display:block;
    margin-bottom:15px;
}
#myCarousel .carousel-caption {
    bottom: 60px;
    opacity:1;
}
#myCarousel .carousel-caption > h1 {
    font-family: lato;
    font-size: 51px;
    font-weight: 900;
    text-shadow: none;
    text-align:left;
    text-transform:uppercase;
}
#myCarousel .carousel-caption > p {
    font-size: 24px;
    text-align: left;
    text-shadow: none;
}
#myCarousel .carousel-control{
    width:15px;
}
#myCarousel .carousel-control .arw-next, #myCarousel .carousel-control .arw-prev {
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    z-index: 5;
    font-family: serif;
    height: 20px;
    line-height: 1;
}
#myCarousel .carousel-control .arw-prev {
    left: 50%;
    margin-left: -10px;
}
#myCarousel .carousel-control .arw-next {
    margin-right: -10px;
    right: 50%;
}
#myCarousel .carousel-control .arw-next .fa, #myCarousel .carousel-control .arw-prev .fa {
	color:#293d55;
    text-shadow: none;
}

.carousel-control.right, .carousel-control.left {
    background-image:none;
    background-repeat: repeat-x;
}
.mb-dropdown{
    display:none;
}
.intro-wrap .container-fluid, .intro-wrap .col-sm-4{
    padding-left:0;
}
.intro-wrap .left-img{
    width: 447px;
    float: left;
    margin-right: 25px;
}
.intro-text{
    margin-top:70px;
}
.intro-text p{
    color:#7e7e7e;
    line-height:32px;
    font-size:16px;
    font-family: 'proximanovalight' !important;
    margin-top:28px;
}
h2 {
    color: #293d55;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
/**************************************************************** Social Media Feed END **************************************************/

/**************************************************************** Footer PAGE START **************************************************/
footer{
    background:#293d55;
    padding:56px 0 32px 0;
    color:#ffffff;
    font-size:16px;
}
footer h3{
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:30px;
    line-height:30px;
}
footer p{
    font-family: 'proximanovalight' !important;
}
ul.footer-nav {
    float: right;
    margin-top: 18px;
    width: 82%;
}
ul.footer-nav li{
    float:left;
    margin-right:48px;
    margin-top:20px;
    padding-bottom:8px;
}
ul.footer-nav li:last-child{
    margin:0;
}
.social-icon > ul {
    margin-top: 20px;
}
.social-icon .fa{
    color:#ffffff;
    float:left;
}
.social-icon .fa-3x{
    font-size:2.5em;
}
.social-icon li{
    float: left;
    margin-right:36px;
    margin-bottom:2px;
}
.social-icon li:last-child{
    margin-right:0;
}

.copyright{
    text-align:center;
    margin-top:25px;
	font-family: 'proximanovalight' !important;

	
}
/**************************************************************** Footer PAGE END **************************************************/


/**************************************************************** Internal PAGE START **************************************************/
.inner-wrap{
	margin-top: 85px;
}
.left-nav {
    margin-top: 25px;
	margin-bottom: 75px;
}
.nav-header{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:22px;
	color:#ffffff;
	padding-top:18px;
}

.left-nav ul li{
	width:100%;
	text-align:center;
	margin-bottom:5px;
	padding:6px 0;
}
.left-nav ul li a{
	color:#7e7e7e;
	text-decoration:none;
	font-family: 'proximanovalight' !important;

}
.left-nav ul li.active, .left-nav ul li:hover{
	border-left:5px solid #34c1e5;
}


#left-Carousel .carousel-control {
    float: right;
    position: relative;
    right: 0;
}

#left-Carousel .carousel-control .arw-prev {
    left: 0;
    margin-left: -10px;
}
#left-Carousel .carousel-control .arw-next, #left-Carousel .carousel-control .arw-prev {
    margin-top: 15px;
    position: absolute;
    bottom:0;
}

#left-Carousel .carousel-control {
    background-color:transparent;
    bottom: 0;
    color: #d9d8d8;
    left: 0;
    opacity:1;
    text-shadow:none;
    top: 0;
	width:50px;
}
#left-Carousel .event-carousel {
    background-color: rgb(249, 251, 252);
    border:0;
    box-shadow:none;
    margin-left:0;
    margin-right:0;
}
.left-box {
    margin-top: 70px;
    text-align: center;
}
.left-box > p{
	width:70%;
	margin:20px auto;
}
.volunteer h2{
	margin:0;
}
.volunteer .news-input{
	width:100%;
}
.volunteer .col-sm-3, .volunteer .col-sm-6{
	padding-left:0;
	padding-right:20px;
}
.volunteer .col-sm-6{
	padding-right:0;
}
.volunteer .btn-news{
	border-radius:5px;
	letter-spacing: 2px;
}
.volunteer .form-group{
	margin-bottom:20px;
}
.right-box{
	margin:25px 0 80px 0;
	width:100%;
	float:left;
}
.right-box h4 {
    color: #293d55;
    font-size: 20px;
    font-weight: 900;
	margin:40px 0 25px 0;
}
.right-box p {
	margin: 0 0 20px 0;
}
.accordion-wrap {
    float: left;
    width: 100%;
	border:1px solid #ebebeb;
	border-radius:5px;
	margin-top:40px;
}
.accord{
	padding:25px 50px;
	border-bottom:1px solid #ebebeb;
	cursor:pointer;
	color:#293d55;
	font-size:20px;
}

.accord-content{
	display:none;
}
.accordion-wrap.open .toogleArrow::before{
	content:'\f107';
}
.accordion-wrap .toogleArrow::before{
	content:'\f105';
}
.accordion-wrap.open .accord-content{
	display:block;
	line-height:32px;
	padding:50px;

}
.accord-img{
	border-bottom:5px solid #e36a52;
	padding-bottom:10px;
	margin-right:40px;
	display:inline-block;
}
.testimonials{
	margin:45px 0;
	float:left;
	width:100%;
}
.testimonial-blog {
	border-radius:5px;
    padding: 0 0 0 28px;
	position:relative;
	letter-spacing:1px;
	font-family: 'proximanovalight' !important;
	color:#000000;
}
.testimonial-blog .quote{
	width:21px;
	height:21px;
	float:left;
	left: 18px;
    position: absolute;
    top: 33px;
	background:url(../img/Inactive-quote.png) no-repeat left center;
}
.testimonial-blog .description{
	padding:30px 25px;
	line-height:26px;
	border-left:1px solid #eadcd9;
}
.testimonial-blog .description span{
	color:#e36a52;
	text-transform:uppercase;
	font-weight:bold;
}
.testimonial-blog:hover, .testimonial-blog.active{
	background:#e36a52;
	color:#ffffff;
}
.testimonial-blog:hover .quote, .testimonial-blog.active .quote{
	background:url(../img/active-quote.png) no-repeat left center;
}
.testimonial-blog:hover .description span, .testimonial-blog.active .description span{
	color:#ffffff;
}
.vertical-slider.carousel.vertical.slide.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

	.instagram-placeholder.fts-instagram-wrapper
	{
		float: left;
		margin-bottom: 15px;
		margin-left: 15px;
		width: 46%;
	}
	.instagram-image 
	{
		height: auto;
		max-width: 100%;
		width: 100%;
	}
/**************************************************************** Internal PAGE END **************************************************/
 @media (min-width: 480px) and (max-width: 767px){   
    
    #myCarousel-facebook .col-xs-2, #myCarousel-twitter .col-xs-2 {
        width: 10%;
    }
 }


@media (max-width: 1200px) {
/********************************* Header Section Start **********************/
    .navbar-nav > li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo {
        padding-top: 48px;
    }
    .logo img{
        width:180px;
    }
    .instagram-feed > li {
        width: 40%;
    }

}
@media (min-width:992px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    .open > .dropdown-menu{
        display:none;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
        border-bottom: 5px solid #34c1e5;
        color: #7e7e7e !important;
        background-color:transparent !important;
    }
    .navbar-nav{
        min-height:55px;
    }
    .donate {
        min-height: 50px !important;
    }
    .navbar-default .navbar-nav.donate > li > a:focus, 
    .navbar-default .navbar-nav.donate > li > a:hover{
       border-bottom:0; 
    }
}
@media (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .logo {
        padding-top: 12px;
    }
    .navbar-header{
        width:100%;
    }
    .navbar-default .navbar-toggle {
        display: block;
        float:right;
        padding:5px 0 0 10px;
        margin-bottom:0;
        margin-right:0;
        border:0;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background:#34c1e5;
        height:4px;
        width:30px;
    }
    .top-nav{
        display:none;
    }
    .navbar-collapse.collapse{
        padding-top:0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color:transparent;
    }
    .nav.navbar-nav{
        margin-top:0;
        background:rgb(52, 193, 229);
    }
    .navbar-collapse.collapse{
        margin-top:15px;
    }
    .navbar-nav > li {
        float: left;
        width: 100%;
        padding:0;
    }
    .navbar-default .navbar-nav > li > a {
        color:#ffffff !important;
        padding:15px;
        float:left;
    }
   .mb-dropdown{
        display: block;
        width:20px;
        height:20px;
        margin:15px 15px 0 0;
        cursor:pointer;
        text-align:center;
        float:right;
    }
    .dropdown-submenu .mb-dropdown{
        margin-top:5px;
    }
    
    li.dropdown.open .mb-dropdown .fa.arrowtoogle.fa-lg::before {
        content: "\f0d7";
        color:#ffffff;
    }
    
    li.dropdown .mb-dropdown .fa.arrowtoogle.fa-lg::before {
        content: "\f0da";
        color:#ffffff;
    }
    .dropdown-menu > li > a{
        text-align:left;
    }
    .main-menu.navbar-default .navbar-nav .dropdown-menu {
         left: 0;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        text-align:left;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:focus, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:focus, 
    .navbar-default .navbar-nav > .open > a:hover{
        color:#ffffff !important;
    }
    .logo {
        padding-left: 15px;
    }
    .nav.navbar-nav.navbar-right.donate a {
        float: none;
        text-align: center;
    }
    .navbar-collapse {
        overflow: hidden;
    }
    .tab-acordion .panel-heading {
        padding: 0;
    }
    .tab-acordion a.accordion-toggle{
        width:100%;
        float:left;
        padding:15px 25px;
    }
    .tab-acordion .panel.panel-default.test-class {
        width: 100%;
        float: left;
        margin-top: 10px;
        border-radius: 0;
        border: 0;
        padding:0;
    }
    .tab-acordion .block{
        display:inline-block;
    }
    .tab-acordion .tab-icon {
        width: 75px;
        float:left;
    }
    .tab-acordion img.resposive-img {
        width: 100%;
    }
    #myCarousel .carousel-caption .block{
        display:inline;
    }
	.news-letter{
		padding:60px 0;
	}
    .tab-acordion .badge {
        height: 45px;
        margin-top: 48px;
        padding-top: 6px;
        width: 45px;
    }
    .fa.fa-twitter.fa-3x, .fa.fa-facebook-official.fa-3x {
        font-size: 2em;
    }
    
    
}

@media (max-width: 767px) {
    
    .navbar-nav > li {
        padding:0 15px;
    }
    .navbar-header{
        width:auto;
    }
    .navbar-default .navbar-toggle{
        padding-right:15px;
    }
    #myCarousel .carousel-caption {
        bottom: 0;
    }
	.carousel-indicators {
		top: 30%;
	}
    .intro-wrap .container-fluid, .intro-wrap .col-sm-4{
        padding-left:15px;
    }
    .intro-wrap .left-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    #collapse-myTab .panel-body{
        padding-left:0;
        padding-right:0;
    }
    .tab-acordion{
        margin-top:20px;
    }
    .tab-acordion .tab-icon {
        width:50px;
    }
    .tab-acordion h2 {
        font-size: 16px;
        line-height:normal;
    }
    .tab-acordion .badge {
        padding: 3px;
        width: 25px;
        height: 25px;
        font-size: 16px;
        margin-top: 5px;

    }
    .tab-acordion a.accordion-toggle{
        padding:15px 0;
        font-size:20px;
    }
    .tab-acordion .block {
        margin-top:6px;
        margin-left: 15px;
    }
    
    ul.footer-nav {
        float: right;
        margin-top: 0;
        width: 100%;
    }
    footer h3 {
        margin-bottom: 5px;
    }
    footer .mt48 {
        margin-top: 0;
    }
    footer .block {
        display:inline-block;
    }
    .social-icon > ul {
        margin-top: 10px;
    }
    .copyright {
        text-align: left;
    }
	.volunteer .form-group {
		display: block;
		float: left;
		width: 100%;
	}
	.volunteer .col-sm-3, .volunteer .col-sm-6{
		padding-right:0;
	}
	.volunteer .btn-news {
		border-radius: 5px;
		letter-spacing: 2px;
		width: 100%;
	}
    .inner-wrap {
        margin-top: 15px;
    }
    #myCarousel .carousel-caption > p{
        white-space:pre-line;
    }
    .news-slider {
        margin-top: 0;
    }
    .news-input{
        width:100%;
        margin-bottom:15px;
    }
    .news-letter{
        margin:25px 0;
    }
    .news-letter .btn-news{
       margin:0 auto;
       display:block;
       float:none;
    }
    .instagram-feed > li {
        width: 45%;
    }
    .social-feed {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .social-feed .vertical-slider .row {
        margin-bottom: 10px;
    }
    .social-feed h2 {
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    #myCarousel .carousel-caption {
        color: #293d55;
        left:15px;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        top: 0;
    }
    #myCarousel .carousel-caption > h1 {
        font-size: 24px;
    }
    #myCarousel .carousel-caption > p {
        font-size: 20px;
    }
}




@media (max-width: 480px) {
	.top-bar {
		font-size: 12px;
	}
	.carousel-indicators {
		top: 20%;
	}
	.copyright {
		font-size: 12px;
	}
    .accord {
        font-size: 16px;
        padding:15px 10px;
    }
    .accordion-wrap.open .accord-content{
        padding:15px 10px;
    }
    .accord-img{
        margin-right:10px;
    }
    .instagram-feed > li {
        width: 42%;
    }
    
}



@media (max-width:420px) {


}

@media (max-width: 320px) {


}
